*.pyc

# Packages
*.egg
*.egg-info
dist
build
MANIFEST
item_db
item_db.db
.DS_Store

/.project
/.pydevproject
/ShadowCraft-Engine.pyproj
/ShadowCraft-Engine.pyproj.user
/ShadowCraft-Engine.sln
/.vs/ShadowCraft-Engine/v14/.suo
